
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gmarket";
    src:url("/fonts/GmarketSansTTFBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"bmjua";
    src:url("/fonts/BMJUA_ttf.ttf");
    font-weight: normal;
    font-size: normal;
}

h1{
    @apply text-2xl;
}
h2{
    @apply text-xl;
}
h3{
    @apply text-lg;
}
